html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: $primary-font-stack;
  font-weight: 400;
  font-size: $primary-font-size;
  color: $primary-font-color;
  line-height: $primary-line-height;
}
