/* TEAM */
.team__title {
  margin-bottom: 86px;
}

.team__descr {
  margin: 0 auto;
  text-align: center;
  width: 980px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 90px;
}

.team__list {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 380px;
  flex: 0 0 380px;
  text-align: center;
  position: relative;
}

.team__img {
  margin-bottom: 28px;
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: top 200ms linear, left 200ms linear;
  -o-transition: top 200ms linear, left 200ms linear;
  transition: top 200ms linear, left 200ms linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.team__member-name {
  margin-bottom: 8px;
  text-transform: uppercase;
}

.team__occupation {
  font-size: 15px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-weight: 300;
  font-style: italic;
}

.main-content--pos {
  margin-bottom: 80px;
}

/* HOVER TEAM LIST */
.overlay-icons {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 223px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.team__img::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(252, 227, 138)),
    to(rgb(243, 129, 129))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  background-image: linear-gradient(
    to top,
    rgb(252, 227, 138) 0%,
    rgb(243, 129, 129) 100%
  );
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.team__bg {
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: absolute;
}

.team__item:hover .team__img,
.team__item:focus .team__img {
  left: -10px;
  top: -10px;
}

.team__item:hover .team__img::before,
.team__item:focus .team__img::before {
  opacity: 0.9;
}

.team__item:hover .overlay-icons,
.team__item:focus .overlay-icons {
  opacity: 1;
}

.overlay-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fce38a;
  border: none;
  height: 55px;
  width: 55px;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.overlay-icons__link:hover,
.overlay-icons__linkS:focus {
  background-color: #f38181;
}

.social-icon {
  display: block;
  width: 27px;
  height: 27px;
  fill: #f38181;
  -webkit-transition: fill 200ms linear;
  -o-transition: fill 200ms linear;
  transition: fill 200ms linear;
}

.overlay-icons__link:hover .social-icon,
.overlay-icons__linkS:focus .social-icon {
  fill: #ffffff;
}

/* FOOTER */
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.copyright-info__link {
  display: inline-block;
  color: #f38181;
  text-decoration: none;
}

.email {
  border: 1px solid #cccccc;
  min-height: 40px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  line-height: 24px;
  padding-left: 17px;
  border-right: none;
}

.email::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.email::-moz-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.email:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.email::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.email::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.subscribe {
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  padding: 0;
  border: none;
  background-color: #95e1d3;
  min-height: 40px;
  cursor: pointer;
  color: #ffffff;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
