html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.visuallyhidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 17px;
}

/* PAGE HEADER */
.page-header {
  margin-bottom: 126px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: flex-end;
}

.site-logo {
  text-decoration: none;
  color: #95e1d3;
  display: block;
}

.site-logo p {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 490px;
}

.site-navigation a {
  text-decoration: none;
  color: #95e1d3;
  text-transform: uppercase;
  display: block;
  transition: color 200ms linear;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #f38181;
}

.site-navigation a::after {
  display: block;
  width: auto;
  height: 3px;
  content: "";
  background-color: #f38181;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 200ms linear;
}

.site-navigation a:hover:after {
  opacity: 1;
}

/* SERVICES */
.services {
  margin-bottom: 86px;
}

.section-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  margin: 0 0 62px 0;
  font-size: 30px;
}

.section-title::before {
  display: block;
  content: "";
  font-family: "Kaushan Script", cursive;
  line-height: 29px;
  font-weight: 400;
  text-transform: none;
  font-size: 24px;
  margin-bottom: 10px;
}

.service-title::before {
content: "We work with";
}

.section-title::after {
  display: block;
  content: "";
  margin: 40px auto 0 auto;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

/* SERVICE LIST */
.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-list-item {
  flex: 0 0 380px;
}

.service-name {
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.service-descr {
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.service-list-item::before {
  float: left;
  display: block;
  content: "";
  width: 80px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center 4px;
}

.service-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.icon-alarm::before {
  background-image: url(../img/icons/ALARM.png);
}

.icon-line-graph::before {
  background-image: url(../img/icons/LINE-GRAPH.png);
}

.icon-computer::before {
  background-image: url(../img/icons/COMPUTER.png);
}

.icon-book::before {
  background-image: url(../img/icons/BOOK.png);
}

.icon-home::before {
  background-image: url(../img/icons/HOME.png);
}

.icon-image::before {
  background-image: url(../img/icons/IMAGE.png);
}

/* TEAM */
.team-title::before {
  content: "Who we are";
}

/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
