html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.visuallyhidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  line-height: 17px;
}

/* PAGE HEADER */
.page-header {
  margin-bottom: 126px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: flex-end;
}

.site-logo {
  text-decoration: none;
  color: #95e1d3;
  display: block;
}

.site-logo p {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 490px;
}

.site-navigation a {
  position: relative;
  text-decoration: none;
  color: #95e1d3;
  text-transform: uppercase;
  display: block;
  transition: color 200ms linear;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #f38181;
}

.site-navigation a::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #f38181;
  bottom: -10px;
  opacity: 0;
  transition: opacity 200ms linear;
}

.site-navigation a:hover:after,
.site-navigation a:focus:after {
  opacity: 1;
}

/* SERVICES */
.services {
  margin-bottom: 86px;
}

.section-title {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  margin: 0;
  font-size: 30px;
}

.section-pre-title {
  display: block;
  font-family: "Kaushan Script", cursive;
  line-height: 29px;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  text-align: center;
  margin-bottom: 13px;
}

.service-title {
  margin-bottom: 100px;
}

.section-title::after {
  position: absolute;
  left: 50%;
  bottom: -34px;
  transform: translateX(-50%);
  display: block;
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
}

/* SERVICE LIST */
.service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-list-item {
  flex: 0 0 380px;
}

.service-name {
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.service-descr {
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.service-list-item::before {
  float: left;
  display: block;
  content: "";
  width: 80px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center 4px;
}

.service-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.icon-alarm::before {
  background-image: url(../img/icons/ALARM.png);
}

.icon-line-graph::before {
  background-image: url(../img/icons/LINE-GRAPH.png);
}

.icon-computer::before {
  background-image: url(../img/icons/COMPUTER.png);
}

.icon-book::before {
  background-image: url(../img/icons/BOOK.png);
}

.icon-home::before {
  background-image: url(../img/icons/HOME.png);
}

.icon-image::before {
  background-image: url(../img/icons/IMAGE.png);
}

/* TEAM */
.team-title {
  margin-bottom: 86px;
}

.team-descr {
  margin: 0 auto;
  text-align: center;
  width: 980px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 90px;
}

.team-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.team-list-item {
  flex: 0 0 380px;
  text-align: center;
  position: relative;
}

.team-list-img {
  margin-bottom: 28px;
  position: relative;
  left: 0;
  top: 0;
  transition: top 200ms linear, left 200ms linear ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-list-img::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( to top, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  opacity: 0;
  transition: opacity 200ms linear;
  }


.member-name {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.occupation {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-weight: 300;
  font-style: italic;
}

.main-content {
  margin-bottom: 80px;
}

/* HOVER TEAM LIST */
.team-list-item-bg {
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
  position: absolute;
}

.team-list-item:hover .team-list-img,
.team-list-item:focus .team-list-img{
  left: -10px;
  top: -10px;
}

.team-list-item:hover .team-list-img::before,
.team-list-item:focus .team-list-img::before {
opacity: 0.9;
}

.team-list-item:hover .overlay-icons,
.team-list-item:focus .overlay-icons {
  opacity: 1;
}

.overlay-icons {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 223px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  opacity: 0;
  transition: opacity 200ms linear;
}

.overlay-icons-item {
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: #fce38a;
  border: none;
  height: 55px;
  width: 55px;
  margin: 0;
  padding: 0;
  transition: background-color 200ms linear;
}

.facebook {
  background-image: url(../img/icons/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url(../img/icons/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}

.pinterest {
  background-image: url(../img/icons/pinterest.png);
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url(../img/icons/instagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.overlay-icons-item:hover,
.overlay-icons-item:focus {
  background-color: #95e1d3;
}

/* FOOTER */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
}

.copyright-info {
  margin: 0;
}

.copyright-info a {
  display: inline-block;
  color: #f38181;
  text-decoration: none;
}

input[type="email"] {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  border: 1px solid #cccccc;
  min-height: 40px;
  padding: 0;
  margin: 0;
  flex: 0 0 230px;
  line-height: 24px;
  padding-left: 17px;
  border-right: none;
}

input[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  flex: 0 0 150px;
  padding: 0;
  border: none;
  background-color: #95e1d3;
  min-height: 40px;
  cursor: pointer;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
