html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visuallyhidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0px auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  line-height: 17px;
  background-color: #ffffff;
}

/* PAGE HEADER */
.page-nav {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: flex-end;
}

.site-logo {
  text-decoration: none;
  color: #fed443;
  display: block;
  font-family: "Aguafina Script", serif;
  font-size: 26px;
  line-height: 41px;
  padding-left: 6px;
  letter-spacing: 0.05em;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 480px;
}

.site-navigation a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  transition: color 200ms linear;
  font-family: "Montserrat", serif;
  line-height: 41px;
  color: #222222;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fed443;
}

.page-header {
  margin-bottom: 102px;
}

/* SERVICES */
.section-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  margin: 0;
  font-size: 40px;
  margin-bottom: 75px;
  letter-spacing: -0.025em;
}

.section-after-title {
  display: block;
  color: #777777;
  font-family: "PT Serif", serif;
  font-style: italic;
  line-height: 19px;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
  letter-spacing: normal;
}

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 120px;
  padding: 0;
}

.service-list-item {
  flex: 0 0 290px;
  text-align: center;
  letter-spacing: -0.025em;
}

.service-name {
  margin: 0 0 12px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.service-descr {
  color: #777777;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  font-family: "Roboto Slab", serif;
}

.service-list-item::before {
  display: block;
  content: "";
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin: 0 auto 21px auto;
}

.icon-basket::before {
  background-image: url(../img/icons/Icon-Basket.png);
}

.icon-laptop::before {
  background-image: url(../img/icons/Icon-Laptop.png);
}

.icon-locked::before {
  background-image: url(../img/icons/Icon-Locked.png);
}

/* CONTACT */
.contact {
  background-color: #222222;
  background-image: url(../img/icons/Map-Image.png);
  background-repeat: no-repeat;
  background-position: right bottom 20px;
  text-align: center;
}

.contuct-title {
  color: #ffffff;
}

.feedback-form {
  padding-top: 100px;
  padding-bottom: 115px;
}

.after-title-contact {
  margin-top: 14px;
}

.contact-form {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #bbbbbb;
}

.contact-form li:not(:last-child) {
  margin-bottom: 30px;
}

.contact-form-item,
.contact-form-message {
  width: 455px;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 16px 20px;
}

.contact-form-item::placeholder,
.contact-form-message::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.contact-form-item:required:valid,
.contact-form-message:required:valid {
  outline: 1px solid #00ff00;
}

.contact-form-item:required:invalid,
.contact-form-message:required:invalid {
  outline: 1px solid #ff0000;
}

.contact-form-message {
  resize: none;
  height: 210px;
}

.contact-form-position {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.send-message {
  width: 240px;
  height: 66px;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  border: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
}
