html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.visuallyhidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* Site navigation */
.page-nav {
  position: relative;
  min-height: 92px;
}

.site-logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  color: #555252;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.site-logo p {
  margin: 0;
  padding: 0;
}

.site-logo p::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 34px;
}

.site-navigation a {
  text-decoration: none;
  display: block;
  color: #0f0101;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

/* Slider */
.banner {
  min-height: 600px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.52)
    ),
    url(/img/slide4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider {
  position: relative;
}

.slider-ctrl {
  font-family: "pe-icon-7-stroke";
  font-size: 100px;
  line-height: 11px;
  border: none;
  background-color: rgba(78, 198, 171, 0.65);
  width: 104px;
  height: 104px;
  display: inline-block;
  position: absolute;
  top: 225px;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.slider-ctrl:hover,
.slider-ctrl:focus {
  background-color: rgba(26, 188, 156, 1);
}

.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slides {
  margin: 0;
  padding: 0;
}

.slides-item {
  height: 600px;
  position: relative;
}

.slide {
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.slide p {
  margin: 0;
}

.slide-caption {
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
}

.slider:hover .slide-title-color {
  color: #ff7200;
}

/* Collection */
.collection {
  background-color: #e9f0fd;
  padding-bottom: 100px;
}

.section-title,
.collection {
  font-size: 48px;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 32px;
  color: #515151;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.section-title {
  padding-top: 102px;
  text-align: center;
  margin-bottom: 80px;
}

.section-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 32px auto 0 auto;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list-item {
  width: 255px;
  float: left;
  position: relative;
}

.products-list-item:not(:nth-of-type(4n + 4)) {
  margin-right: 30px;
}

.products-list a:hover .product-hover,
.products-list a:focus .product-hover {
  background-color: #1abc9c;
}

.products-list-item a {
  display: block;
  text-decoration: none;
}

.products-list-item p {
  font-size: 18px;
  margin: 0;
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  padding-top: 5px;
}

.product-name {
  position: absolute;
  width: 201px;
  padding-left: 14px;
  left: 0;
  bottom: 0;
}

.product-price {
  opacity: 0.44;
  position: absolute;
  width: 54px;
  text-align: center;
  right: 0;
  bottom: 0;
}

/* Footer */
.footer-info {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  background-color: #323232;
  color: #fefefe;
}

.footer-info span {
 color: #46bfa9; 
}