* {
  outline: 1px solid red;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.visuallyhidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

/* Site navigation */
.page-nav {
  padding: 32px 0;
  position: relative;
  min-height: 92px;
}

.site-logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  color: #555252;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.site-logo p {
  margin: 0;
  padding: 0;
}

.site-logo p::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 34px;
}

.site-navigation a {
  text-decoration: none;
  color: #0f0101;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

/* Slider */
.banner {
  min-height: 600px;
  background-image: 
  linear-gradient(to top, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url(/img/slide4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider {
  position: relative;
}

.slider-ctrl {
  font-family: "pe-icon-7-stroke";
  font-size: 100px;
  line-height: 11px;
  border: none;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  width: 104px;
  height: 104px;
  display: inline-block;
  position: absolute;
  top: 225px;
}

.slider-ctrl:hover {
  opacity: 1;
}

.slider-ctrl-prev {
  left: 0px;
}

.slider-ctrl-next {
  right: 0px;
}



/* .slider-ctrl:hover {
  opacity: 0.65;
} */
/* Featured products */
/* .section-title,
.products {
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
  line-height: 32px;
  color: #515151;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.section-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 32px auto;
  margin-bottom: 0;
}

.section-title {
  margin: 68px 0 92px 0;
  text-align: center;
}

.products-list-item {
  width: 255px;
  float: left;
}

.products-list-item:not(:nth-of-type(4n + 4)) {
  margin-right: 30px;
}

.products-list-item:not(:nth-last-of-type(-n + 4)) {
  margin-bottom: 30px;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list li:hover .product-hover {
  background-color: #1abc9c;
}

.products-list-item a {
  text-decoration: none;
}

.products-list-item p {
  font-size: 18px;
  margin: 0;
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  padding-top: 5px;
}

.product-name {
  float: left;
  width: 201px;
  padding-left: 14px;
}

.product-price {
  opacity: 0.44;
  float: right;
  width: 54px;
  text-align: center;
} */

/* News list */
/* .news h2 {
  margin: 108px 0 80px 0;
}

.news-list {
  list-style: none;
  padding: 0;
}

.news-list-item {
  width: 351px;
  float: left;
}

.news-list-item:not(:last-child) {
  margin-right: 29px;
}

.news-list-item p,
.news-list-item h3 {
  margin: 0;
  padding: 0;
}

.news-list-item h3 {
  margin-top: 12px;
}

.news-list-item h3::after {
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  content: "";
  margin: 10px 0 26px 0;
}

.news-list-item h3 {
  font-weight: 600;
  font-size: 18px;
}

.news-list-item p {
  font-size: 14px;
  margin-bottom: 11px;
}

.news {
  margin-bottom: 80px;
} */

/* Load more */
/* .read-more {
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background-color: #4ec6ab;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 50px;
}

.read-more:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}
*/
