.banner {
  min-height: 1000px;
  background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url(../images/banner@2x.jpg);
  }
}
