.services {
  margin-bottom: 90px;
}

.services__title-preamble {
  padding-top: 44px;
}

.services__title {
  margin-bottom: 100px;
}

.services__list {
  @extend %mpres;
  @extend %list;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services__item {
  flex: 0 0 380px;

  &::before {
    float: left;
    display: block;
    content: '';
    width: 92px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 4px;
    background-size: 32px 32px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
  }

  &--icon-alarm::before {
    background-image: url(../images/icon/alarm.svg);
  }
  
  &--icon-graph::before {
    background-image: url(../images/icon/graph.svg);
  }
  
  &--icon-computer::before {
    background-image: url(../images/icon/computer.svg);
  }
  
  &--icon-book::before {
    background-image: url(../images/icon/book.svg);
  }
  
  &--icon-home::before {
    background-image: url(../images/icon/home.svg);
  }
  
  &--icon-image::before {
    background-image: url(../images/icon/image.svg);
  }
}

.services__name {
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.services__descr {
  @extend %mpres;
  color: $secondary-font-color;
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  margin: 0;
  font-family: $secondary-font-stack;
}
