.subscribe-btn {
  text-transform: uppercase;
  font-weight: 700;
  flex: 0 0 150px;
  padding: 0;
  border: none;
  background-color: $thirdly-accent-color;
  min-height: 40px;
  cursor: pointer;
  color: $primary-white-color;
}
