html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.visuallyhidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* Site navigation */
.page-nav {
  padding: 32px 0;
}

.site-logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  color: #555252;
  text-transform: uppercase;
  display: inline-block;
}

.site-logo p {
  margin: 0;
  padding: 0;
}

.site-logo p::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 9px;
  width: 474px;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 34px;
}

.site-navigation a {
  text-decoration: none;
  display: block;
  color: #0f0101;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}

.page-header {
  margin-bottom: 68px;
}


/* Featured products */
.section-title,
.products {
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
  line-height: 32px;
  color: #515151;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.products {
  margin-bottom: 108px;
}

.section-title::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin: 32px auto 0 auto;
}

.products-title {
  margin-bottom: 92px;
  text-align: center;
}

.products-list-item {
  width: 255px;
  float: left;
  cursor: pointer;
}

.products-list-item:not(:nth-of-type(4n + 4)) {
  margin-right: 30px;
}

.products-list-item:not(:nth-last-of-type(-n + 4)) {
  margin-bottom: 30px;
}

.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list-item:hover .product-hover,
.products-list-item:focus .product-hover{
  background-color: #1abc9c;
}

.products-list-item p {
  font-size: 18px;
  margin: 0;
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  padding-top: 5px;
}

.product-name {
  float: left;
  width: 201px;
  padding-left: 14px;
}

.product-price {
  opacity: 0.44;
  float: right;
  width: 54px;
  text-align: center;
}

/* News list */
.news-title {
  margin-bottom: 80px;
  text-align: center;
}

.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-list-item {
  width: 350px;
  float: left;
}

.news-list-item:not(:last-child) {
  margin-right: 30px;
}

.news-list-item p,
.news-list-item-title {
  margin: 0;
  padding: 0;
}

.news-list-item img {
  margin-bottom: 12px;
}

.news-list-item-title::after {
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  content: "";
  margin-top: 10px;
}

.news-list-item-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
}

.news-list-item p {
  font-size: 14px;
  margin-bottom: 11px;
}

.news {
  padding-bottom: 80px;
}

/* Load more */
.read-more {
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  background-color: #4ec6ab;
  border-radius: 3px;
  width: 160px;
  height: 50px;
  text-align: center;
  padding: 12px 0;
}

.read-more:hover,
.read-more:focus {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}