$primary-font-stack: 'Montserrat', sans-serif;
$title-preamble-font: 'Kaushan Script', cursive;
$secondary-font-stack: 'Roboto', sans-serif;


$primary-font-size: 14px;
$accent-font-size: 30px;
$secondary-font-size: 15px;

$primary-line-height: 17px;
$accent-line-height: 36px;
$secondary-line-height: 24px;

$primary-font-color: #333333;
$secondary-font-color: #999999;
$primary-white-color: #ffffff;
$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$thirdly-accent-color: #95e1d3;